*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ADD8E6;
}
h1{
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}
main{
    margin-left: 15%;
    margin-right:15%;
    height: 900px;
    background-color: violet;
    padding: 10px;
    position: relative;

}
main .card {
    height:200px;
    width:24%;
    float: left;
    background-color: wheat;
    border: 1px solid black;
}
.row-1::after{
    display: table;
    content: "";
    clear: both;
}
.row-1{
    padding: 10px;
}
.card{
    margin: 2px;
}


h4{
    text-align: center;
}