*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ADD8E6;
}
h1{
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}
main{
    margin-left: 15%;
    margin-right:15%;
    height: 900px;
    background-color: violet;
    padding: 10px;

}
main .card {
    height:200px;
    width:24%;
    display: inline-block;
    background-color: wheat;
    border: 1px solid black;
}
.row-1{
    padding: 5px;

}
h4{
    text-align: center;
}