*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ADD8E6;
    font-family:'Nerko One', cursive;
}
header, footer{
    margin-left:15%;
    margin-right:15%;
    width:800px;
    text-align:center;
    margin-top:20px;
    margin-bottom: 20px;
}
h1{
    text-transform: uppercase;
    color: #ffffff;
    line-height: 50px;
    font-size: 50px;
    text-shadow: 2px 2px #635f5f;
}
main{
    margin-left: 15%;
    margin-right:15%;
    height: 680px;
    width:800px;
    /* background-color: violet; */
    padding: 10px;
    position: relative;
}
main .card {
    height:200px;
    width:150px;
    float: left;
    position: relative;
    background-image: url(img/pattern.png);
    background-size: contain;
    
    /* border: 1px solid black; */
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 15px;  
}
.hover{
    height:200px;
    width:150px;
    background-color: white;
    border-radius: 15px;
    display: none;
}

img{
    /* display: inline-block; */
    width: 150px;
    height: 150px;
}
.row::after{
    display: table;
    content: "";
    clear: both;
}
.row{
    padding: 10px;
    width: 100%;
    position: relative;

}

.card span{
    display: block;
    width: 100%;
    position: absolute;
    bottom: 10%;
    text-align: center;
    font-weight: bold;
    color: #DB2485;
    text-shadow: 1px 1px #635f5f;

}

.uncovered{
    background-color: white;
    border-radius: 15px;
}

main .card:hover .hover{
    display: inline-block;
}
